@charset "UTF-8";
body {
  color: #555;
  font-family: sans-serif;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/*header*/
header {
  /*  ナブメニュー*/
}
header .wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .wrapper .logo {
  width: 7.5rem;
}
@media (min-width: 600px) {
  header .wrapper {
    padding: 2rem 1rem;
  }
  header .wrapper .logo {
    width: 12.5rem;
  }
}
header .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .main-nav li {
  text-align: center;
  font-size: 0.75rem;
}
header .main-nav a {
  display: block;
  padding: 0.5rem;
  width: 4rem;
}
header .main-nav a .current {
  background-color: #f8f6f2;
}
header .main-nav a:before {
  display: block;
  margin-bottom: 0.25em;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #555;
  font-size: 1.25rem;
}
header .menu-home:before {
  content: "";
}
header .menu-job:before {
  content: "";
}
header .menu-form:before {
  content: "";
}

/*レスポンシブ*/
@media (min-width: 600px) {
  header .main-nav li {
    font-size: 1.25rem;
    margin-left: 2rem;
    font-family: "Sawarabi Mincho", sans-serif;
  }
  header .main-nav a {
    width: auto;
  }
  header .main-nav a:hover,
header .main-nav a .current {
    border-bottom: 2px solid #2d3374;
    padding-bottom: 0.5rem;
    background: none;
  }
  header .main-nav a::before {
    content: "";
  }
}
/*section*/
.btn {
  font-family: "Sawarabi Mincho", sans-serif;
  display: inline-block;
  padding: 1.25rem 3.25rem;
  font-size: 1.375rem;
  text-align: center;
  width: 100%;
}

.btn-primary {
  color: #fff;
  background: #2d3374;
}
.btn-primary:hover {
  background: #3a7edf;
}

.home-hero {
  background: url(/images/bg-hero.jpg) no-repeat right top/70vw auto;
  padding: 5.5rem 1rem 3rem;
}
@media (min-width: 600px) {
  .home-hero {
    padding: 16vw 1rem;
  }
}
.home-hero h2 {
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 1.5rem;
  margin: 8vw 0 12vw;
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  display: inline-block;
}
@media (min-width: 600px) {
  .home-hero h2 {
    font-size: 2.5rem;
    margin: 0 0 2rem;
    background: none;
    padding: 0;
  }
}
.home-hero p {
  font-size: 1.125rem;
  margin-bottom: 2rem;
}
@media (min-width: 600px) {
  .home-hero p {
    width: 38vh;
  }
}

@media (min-width: 600px) {
  .btn {
    width: auto;
  }
}

.home-text {
  margin-bottom: 2rem;
}
.home-text .title {
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.home-text .title:after {
  content: "";
  display: block;
  height: 5px;
  width: 10rem;
  background: #d0bea2;
  margin: 2rem 0 2.5rem;
}
.home-text p {
  line-height: 1.7;
}

/*section2*/
.brown-bg {
  background: #f8f6f2;
}
.brown-bg .content {
  padding: 4rem 1rem;
}
.brown-bg .flex-reverse {
  margin: 0 2vw 0 0;
}
.brown-bg .home-chart {
  margin: 0 2vw 0 0;
}

@media (min-width: 600px) {
  .flex-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4rem 1rem;
  }

  .home-text {
    width: 50vw;
    margin-bottom: 0;
  }
  .home-text .title {
    font-size: 1.875rem;
  }

  .home-chart {
    width: 34vw;
  }
  .home-chart p {
    text-align: center;
  }
}
/*グラフの文字*/
.ct-label {
  font-size: 1rem;
  fill: #fff;
}

/*円グラフ*/
.ct-series-a .ct-slice-pie {
  fill: #2d3374;
}

.ct-series-b .ct-slice-pie {
  fill: #3a7edf;
}

.ct-series-c .ct-slice-pie {
  fill: #9bcbf8;
}

.ct-series-d .ct-slice-pie {
  fill: #bbb;
}

.ct-series-a .ct-bar {
  stroke: #3a7edf;
}

.ct-bar {
  stroke-width: 16%;
}

footer {
  background-color: #2d3374;
  color: rgba(255, 255, 255, 0.8);
  padding: 3.5rem 1rem;
  text-align: center;
}
footer .btn {
  font-family: "Sawarabi Mincho", sans-serif;
  display: inline-block;
  width: 100%;
  padding: 1.25rem 3.25rem;
  font-size: 1.375rem;
  margin-bottom: 3.5rem;
}
@media (min-width: 600px) {
  footer .btn {
    width: auto;
  }
}
footer .btn-secondary {
  color: #555;
  background-color: #d0bea2;
}
footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer-nav li {
  margin: 0 0.75rem;
}
@media (min-width: 600px) {
  footer .footer-nav li {
    margin: 0 0.75rem;
  }
}
/*# sourceMappingURL=style.css.map */